.AuthInput {
  display: flex;
  align-items: center;
  outline: none;
  background: none;
  height: 50px;
  &-Input {
    border: none;
    height: 100%;
    border-radius: 8px;
    background-color: #f4f6f8;
    caret-color: black;
    padding: 0px 12px;
    font-size: 16px;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border: 2px solid #007dfa;
    }
  }
}
.kr {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
}
.eng {
  font-style: normal;
  font-weight: 500;
}
