.AuthButton {
  border-radius: 8px;
  box-sizing: border-box;
}
.AuthButton-Btn {
  color: #ffffff;
  font-size: 16px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: 600;
  background: #007dfa;
  border-radius: 8px;
  box-sizing: border-box;
}
