.AuthButton {
  border-radius: 8px;
  box-sizing: border-box;
  height: 50px;
  &-Btn {
    color: #ffffff;
    font-size: 16px;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    border: none;
    background: #007dfa;
    border-radius: 8px;
    box-sizing: border-box;
  }
}
