.RegisterEmailForm {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  &-Options {
    width: 500px;
    height: 357px;
    padding: 50px;
    background: #ffffff;
    box-shadow: 3px 3px 10px rgba(89, 172, 255, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 100px;

    &-title {
      font-size: 24px;
      text-align: center;
      font-family: "Noto Sans CJK KR";
      font-style: normal;
      font-weight: 900;
    }
    &-inputs {
      margin-top: 50px;
      width: 100%;
      &-email {
        width: 100%;
        &-title {
          font-size: 14px;
          font-family: "Noto Sans CJK KR";
          font-style: normal;
          font-weight: 600;
          color: #d9dde1;
          margin-bottom: 8px;
          padding-left: 8px;
        }
      }
      &-submitDiv {
        width: 100%;
        margin-top: 47px;
      }
    }
  }
}
